<nav class="sticky top-0 z-50 w-full bg-white dark:bg-gray-900 shadow-sm transition-colors duration-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-20">

      <div class="flex items-center gap-2">
        <img src="imgs/logos/Logo-Liris.png" alt="Liris-Logo">
      </div>

      <div id="nav-links" class="hidden lg:flex space-x-6 items-center"></div>

      <button class="ml-2 p-2 rounded-full text-gray-400 hover:text-primary"
        onclick="document.documentElement.classList.toggle('dark')">
        <span class="material-symbols-outlined">brightness_medium</span>
      </button>

    </div>
  </div>
</nav>